/* src/app.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: emerald --default, dim --prefersdark;
}

@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/inter-v20-cyrillic_latin-200.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/inter-v20-cyrillic_latin-300.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/inter-v20-cyrillic_latin-regular.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/inter-v20-cyrillic_latin-600.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



[data-theme="emerald"] {
  --color-primary: #1ab501;
  --color-primary-content: #ffffff;
  --color-secondary: #1E7B12;
  --color-secondary-content: #ffffff;
  --color-accent: #208710;
  --color-accent-content: #ffffff;
  --s: 0.60 0.20 140deg;   /* format oklch */
  --fallback-s: #1E7B12;
}

[data-theme="dim"] {
  --color-primary: #1ab501;
  --color-primary-content: #ffffff;
  --color-secondary: #1E7B12;
  --color-secondary-content: #ffffff;
  --color-accent: #3FC11F;
  --color-accent-content: #000000;
}

html, body {
  height: 100%;
  font-family: var(--font-sans);
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}